@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/** Media Queries **/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: #eeeeee;
}

input,
textarea,
input:active {
  outline: none;
}

img {
  max-width: 100%;
}

.centrado {
  text-align: center;
  display: flex;
}

.oculto {
  display: none;
}

.no-menu.pagina .sidebar {
  margin-left: -20rem;
}

.pagina {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.header .nombre-sitio {
  padding: 0 1rem;
  flex: 0 0 5rem;
  background: #2E1760;
}

@media only screen and (min-width: 1024px) {
  .header .nombre-sitio {
    flex: 0 0 20rem;
  }
}

.header .nombre-sitio h1 {
  color: #FFFFFF;
}

.header .nombre-sitio .escritorio {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header .nombre-sitio .escritorio {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .header .nombre-sitio .movil {
    display: none;
  }
}

.barra {
  display: flex;
  justify-content: space-between;
  flex: 1;
  background: #3423A6;
}

.barra .menu-izquierdo {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.barra .menu-izquierdo i {
  color: #FFFFFF;
  font-size: 1.4rem;
  cursor: pointer;
}

.barra .menu-izquierdo .fa-arrow-right {
  display: none;
}

.barra .menu-derecho {
  display: flex;
}

.barra .menu-derecho .caja {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.barra .menu-derecho .caja:hover {
  background: #2d1f91;
}

.barra .menu-derecho .caja a {
  text-decoration: none;
  color: #fff;
}

.barra .menu-derecho .caja a span {
  background: #06D6A0;
  border-radius: 50%;
  padding: 0.5rem;
}

.sidebar {
  background: #171738;
  flex: 0 0 20rem;
  padding: 1rem;
  color: #fff;
  transition: all 0.4s;
}

.sidebar .usuario {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
}

.sidebar .usuario img {
  max-width: 5rem;
}

.sidebar .usuario span {
  font-weight: normal;
  display: block;
}

.sidebar .buscador {
  margin-top: 1rem;
}

.sidebar .buscador input[type="text"] {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 10px;
  padding-left: 1rem;
  outline: none;
}

.menu-admin {
  margin-top: 2rem;
}

.menu-admin .menu {
  list-style: none;
  padding: 0 0 0 1rem;
}

.menu-admin .menu > li {
  padding: 0.5rem;
}

.menu-admin .menu > li:hover ul, .menu-admin .menu > li:active ul {
  display: block;
}

.menu-admin .menu > li a {
  padding: 0.5rem;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.4s;
}

.menu-admin .menu > li a:hover {
  background: #3423A6;
  padding-left: 2rem;
}

.menu-admin .menu > li ul {
  display: none;
  padding: 1rem;
  margin-top: 1rem;
  list-style: none;
  background: #13132d;
}

.menu-admin .menu > li ul li {
  margin-bottom: 1rem;
}

.menu-admin .menu > li ul li:last-of-type {
  margin-bottom: 0;
}

.contenedor-principal {
  flex: 1;
  display: flex;
}

.contenido {
  flex: 1;
  padding: 2rem;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.formulario .campo {
  flex: 0 0 100%;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .formulario .campo {
    flex: 0 0 calc(50% - 1rem);
  }
}

.formulario .campo.expandir {
  flex: 0 0 calc(100% - 1rem);
  align-items: flex-start;
}

.formulario .campo.expandir label {
  flex: 0 0 15%;
}

.formulario .campo.expandir textarea {
  flex: 1;
}

.formulario .campo label {
  flex: 0 0 30%;
}

.formulario .campo input[type="text"] {
  flex: 0 0 70%;
}

.formulario .campo .opciones {
  display: flex;
  align-items: center;
  flex: 1;
}

.formulario .campo .opciones label {
  padding-left: 1rem;
}

.formulario .campo.enviar {
  display: flex;
  justify-content: flex-end;
}

.formulario .campo.enviar .boton {
  border: none;
  background-color: #3423A6;
  padding: .5rem 1rem;
  display: block;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: background-color .3s ease;
}

.formulario .campo.enviar .boton:hover {
  cursor: pointer;
  background-color: #271a7c;
}
